body {
  margin: 0;
  background-color: #1f212c;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#InfoCard-avatar {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

#LeagueCard-avatar {
  border-radius: 20px;
  width: 100px;
  length: 100px;
}

#TeamCard-avatar {
  border-radius: 30px;
  width: 80px;
  height: 80px;
  margin: 5px;
}

#Player-avatar {
  border-radius: 30px;
  width: 100px;
  height: 72px;
  margin: 5px;
}

.UserTeam {
  color: #008ab7 !important;
  font-weight: bold;

}

#SearchBar-container {
  color: white;
  text-align: center;
}

#SearchBar-textField {
  text-align: center;
}

#LeagueCard-card {
  display: flex !important;
  align-items: center !important ;
  justify-content: center !important;
  flex-direction: column;
}

#TeamCard-card {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row;
  flex-wrap: wrap;
}

#RosterCard-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#LeagueCard-accordion {
  width: 500px;
  display:flex ;
  flex-direction: column;
  
}

.teamNameWithAvatar {
  justify-content: center !important;

}

.TeamCard-container {
  display: flex;
  flex-direction: column !;
  align-content: center !important;
  margin-left: 80px;
  margin-right: 80px;
}

.MuiButtonBase-root {
  color: white !important;
  background-color: #1f212c !important;
}

.MuiTypography-root {
  color: white !important;
  
}

.MuiFormLabel-root {
  color: white !important;
  
}

.MuiInputLabel-root {
  color: black;
  
}

.MuiTextField-root {
  color: black;
  
}

.MuiInputBase-input {
  background-color: #aaaaaa!important;
  color: black;
}

input {
  text-align: center;
  font-weight: bold;
}

.MuiButton-label {
  color: #008ab7 !important;
  font-weight: bold;
  margin-top: 12px;
}

.MuiAccordionDetails-root {
  background: #008ab7;

}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.MuiCard-root {
  overflow: visible !important;
}